.MenuBar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    transform: translate(20%);
}

.BrandingText {
    font-weight: 300;
    margin:0px;
    color: var(--text-color);
    font-size: 15px;
    margin-top: 5px;
}

.BrandingText a {
    all:unset;
    font-weight: 100;
    font-size: smaller;
    transition-duration: .3s;
}

.BrandingText a:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

.navIcons {
    display: flex;
    gap: 10px;
    font-size: 13px;
    color: var(--icon-color);
    user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.navIcons span {
    transition-duration: .3s;
}

.navIcons button {
    all: unset;
}

.navIcons span:hover {
    cursor: pointer;
    color: var(--highlight-color);
}