.tilepad {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size) !important;
}

.navigation_bar {
    color: var(--text-color);
    min-width: 50%;
    max-width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: large;
}

.navigation_bar button {
    background-color: #228be6;
    border: 0px;
    border-radius: 5px;
    transition-duration: .1s;
}

.navigation_bar button:disabled {
    filter: opacity(.5);
    background-color: #343a40;
}

.navigation_bar button:active {
    transform: scale(.75);
}

.app_header {
    background-color: var(--navigation-ribbon-color);
    padding-bottom: 5px;
}

.rotate {
    transform: rotate(180deg);
}

.edit_button {
    position: absolute;
    top: 50%;
    transform:translate(50px, -50%);
    background-color: #f59f00;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.edit_button:active {
    background-color: #f08c00;
}

.edit_active {
    border: white solid 2px;
    padding: 13px;
}

.edit_mode_ribbon {
    background-color: var(--navigation-ribbon-color);
    color: var(--text-color);
    display: flex;
    margin-top: 10px;
    padding-left:50px;
    padding-right:50px;
    flex-wrap: wrap;
    gap:20px;
}

.edit_mode_ribbon div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.edit_mode_ribbon input {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    width: 50px;
    font-size:medium;
}