.tile, .navigation {
    all: unset;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: var(--tile-color);
    color:var(--text-color);
    padding:5px;
    margin:5px;
    border-radius:5px;
    width: fit-content;
    flex: 1 1 var(--wrap-width);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: -2px -1px 8px rgba(0, 0, 0, 0.1)  ; 
    -webkit-box-shadow: -2px -1px 8px rgba(0, 0, 0, 0.1)  ; 
    -moz-box-shadow: -2px -1px 8px rgba(0, 0, 0, 0.1)  ; 
    transition-duration: .1s;
    position: relative;
    cursor: pointer;
}

.dummy:active {
    transform: none !important;
}

.dummy {
    cursor: auto;
}

.tile {
    border: var(--border-color) solid 4px;
}

.tile:active, .navigation:active {
    transform:scale(.9);
}

.tile img, .navigation img {
    padding-left:50%;
    transform: translate(var(--icon-offset),0);
}

.navigation {
    border-top-left-radius:0px;
    background-color: var(--navigation-color) !important;
    border: var(--border-color) solid 4px;
}

.navFolder {
    border: var(--border-color) solid 4px;
    border-bottom: 0;
    position: absolute;
    width:40px;
    height:7px;
    background-color: var(--navigation-color);
    top:0;
    left:0px;
    transform: translate(-9%,-100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}